*
  box-sizing border-box
  color #fff
a
  color #fff
html
  height 100%
body
  background-color #000
  height 100%
  // margin-bottom 1.6rem
// Tools
.container
  width 80%
  margin: 0 auto

.inline-block
  display inline-block