*
  box-sizing border-box
  color #fff
a
  color #fff
body
  background-color #000
  // margin-bottom 1.6rem
.pg-content
  min-height 14rem

.overlay
  position absolute
  left 0
  right 0
  bottom 0
  height 0
  font-size 0
  background-color rgba(0, 0, 0, 0.8)
  transition height 1s

.footer
  text-align center
  font-size .4rem
  width 100%
  // height 1.6rem
  line-height 1.6rem
  background-color #F33535
// Tools
.container
  width 80%
  margin: 0 auto
.inline-block
  display inline-block